.main {
  width: 100%;
  padding: 8% 0;
}

.wrapper {
  height: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 0 2%;
}

.heading {
  font-size: 3.2rem;
  color: rgb(111, 111, 111);
  text-align: center;
  margin-bottom: 40px;
}