.contents {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.form {
  padding: 10px;
  margin-bottom: 10px;
	border: 1px solid rgb(166, 166, 166);
	border-radius: 4px;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: rgb(68, 151, 246);
  border: 1px solid rgb(166, 166, 166);
  border-radius: 4px;
  font-size: 1rem;
  color: white;
}

